

<!-- <mat-card class="result-container" dir="rtl">
    <mat-card-header>
        <mat-card-title-group>
            <mat-card-title>
                <h2>نتایج</h2>
            </mat-card-title>
        </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
        <div class="row">
            <div class="item-right">مبلغ قابل خرید:</div>
            <div class="item-left">کد سفارش:</div>
        </div>
        <div class="row">
            <div class="item-right">مبلغ قابل پرداخت:</div>
            <div class="item-left">تاریخ:</div>
        </div>
        <div class="row">
            <div class="item-right">تاریخ:</div>
            <div class="item-left">مهلت پرداخت:</div>
        </div>`
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="accent" (click)="transferToken(address.value, tokens.value)">ثبت</button>
    </mat-card-actions>
</mat-card> -->