.verifyTxt{
    display: inline-block;
}
.verifyTitle{
    display: inline-block;
    padding-left: 12px;
}
.modal-body{
    font-size: 19px;
}
table {
    width: 100%;
  }

  .mat-header-cell {
    font-size: 20px;

}
th.mat-header-cell {
    text-align: right!important;
    padding: 12px!important;
}
td.mat-cell {

    padding: 12px!important;
}

.btn-info{
    font-size: 18px;
}