.info p{
    display: inline-block;
    display: inline-block;
    padding: 0 11px;
    font-size: 19px;
    margin-top: 12px;
}
.kyc p{
    display: inline-block;
    padding: 13px;
    font-size: 18px;
}
.auth{
    color: #8f97cb;
}
.authTxt{
    color: brown;
}