.step{
    .step-content{
        background: #b9b9b9;
        height: 40px;
        font-size: 1.5rem;
        .step-name{
            font-size: 14px;
        }
        &.confirmed{
            background-color: #4BAE4F !important;
        }
    }
}
.err{
    color: red;
    text-align: center;
    font-size: 18px;
}
.confirmed-content{
    .fa-check{
        font-size: 120px;        
    }
    .fa-print{
        font-size: 24px;
    }
}

.file-upload{
    .file-upload-btn{
        position: absolute;
        width: 100%;
        height: 35px;
        z-index: 9;
        opacity: 0;
    }
    .delete-file{
        position: absolute;
        right: 50px;
        top: 8px;
        font-size: 16px;
        opacity: .8;
        cursor: pointer;
        z-index: 99;
        visibility: hidden;
    }
    &:hover .delete-file{
        visibility: visible;
    }
}
.img-upload-btn{
    position: absolute;
    padding: 0;
    width: calc(100% - 30px);
    height: 38px;
    opacity: 0;
}

.image-wrapper{
    position: relative;
    .delete-img{
        position: absolute;
        top: 8px;
        right: 10px;
        border: 2px solid #fff;
        color: #fff;
        padding: 3px 5px;
        border-radius: 50%;
        visibility: hidden;
        cursor: pointer;
    }
    &:hover .delete-img{
        visibility: visible;
    }
}

.verified p{
    background: #fff;
    padding: 20px;
    text-align: center;
    font-size: 24px;
    color: green;
}
.preview{
    background: #c5c5c552;
    margin: 0 2%;
    line-height: 38px;
    padding: 41px;
}
.preview .col-2 {
    text-align: right;
    padding: 5px 0 0 41px;
}
.preview img{
    max-width: 470px;
    max-height: 500px;
}

.element{
    font-size: 19px;
    display: block;
}
.verifyTxt{
    color: blue;
    display: inline-block;
}
.verifyTitle{
    display: inline-block;
}

.welcome{
    text-align: center;
}

.card-bodyquote p{
    font-size: 25px;
    line-height: 80px;
}

.card-bodyquote footer{
    font-size: 19px;
}
.form-control{
    display: inline-block;
    margin-right: 2%;
}
.img-container{
    border-top: 1px solid #b9b9b9;
    padding: 22px;
}
.form-container{
    padding: 21px 0;
}
.sampleImg{
    text-align: center;
    margin: 2% 0 2% 0px;
}

.sampleImg .card-text{
    font-size: 18px;
}
.sampleImg .card-footer{
    font-size: 20px;
}

.secondImg .img-container{
    margin-left: 32%;
}
.radiobtn{
    display: block;
}
.walletRadio{
    margin: 2% 2%;
    font-size: 19px;
}
.kycCode{
    font-size: 20px;
    padding-top: 22px;
    font-weight: 800;
    color: #e83e8c;
}