<div widget class="card border-0 box-shadow" style=" font-size: 18px;   padding: 6%;">
  <div style="    margin-bottom: 20px;" class="card card-outline-primary">
    <div class="card-body text-center">
      <p class="text-primary">: موجودی</p>
      <p class="card-text">
        <code>{{balance}}</code>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-9">
      <table class="table table-striped">
        <thead>
          <tr>

            <th>ارسال مجدد کد</th>
            <th> تاریخ ثبت </th>
            <th>مقدار</th>
            <th>ایمیل کاربر</th>
            <th>وضعیت</th>
            <th>شماره درخواست</th>
            <th>انصراف</th>
          </tr>
        </thead>
        <tbody>

          <tr *ngFor='let i of PendingBurnRequests'>
            <td *ngIf='!i.verified'>
              <button data-toggle="modal" data-target="#resendModal" (click)="resendBurn(i.BurnRequestNumber)" class="btn btn-outline-primary w-100p mb-1 mr-1"
                type="button">ارسال مجدد</button>
            </td>
            <td *ngIf='i.verified'>
              <label class="confirmedmail">ایمیل تایید شده</label>
            </td>
            <td>{{i.userSubmitDate}}</td>
            <td>{{i.amount}}</td>
            <td>{{i.userEmail}}</td>

            <td *ngIf='!i.verified'>

              <span class="badge  mr-1" data-toggle="modal" data-target="#pendingModal" (click)="pending(i.BurnRequestNumber)" style="    cursor: pointer;"
                [ngClass]="{'badge-danger': i.status=='Closed'||i.status=='Canceled', 'badge-info': i.status=='Pending'}">
                {{i.status}}</span>

            </td>
            <td *ngIf='i.verified'>

              <span class="badge  mr-1" [ngClass]="{'badge-danger': i.status=='Closed'||i.status=='Canceled', 'badge-info': i.status=='Pending'}">
                {{i.status}}</span>

            </td>
            <td>{{i.BurnRequestNumber}}</td>
            <td>
              <div aria-label="Second group" class="btn-group " role="group">
                <button data-toggle="modal" data-target="#rejectModal" (click)="getNum(i.BurnRequestNumber)" class="btn btn-danger" type="button">
                  <i class="fa fa-times"></i>
                </button>

              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-lg-3 mb-3">

      <div widget class="card border-0 box-shadow">

        <div class="card-header transparent border-0 text-muted">
          <div *ngIf='notSuccess' style="text-align: left" class="alert alert-danger alert-dismissible fade show" role="alert">
            <button aria-label="Close" class="close" data-dismiss="alert" type="button">
              <span aria-hidden="true">×</span>
            </button>
            {{Msg}}
          </div>
          <div *ngIf='success' style="text-align: left" class="alert alert-success alert-dismissible fade show" role="alert">
            <button aria-label="Close" class="close" data-dismiss="alert" type="button">
              <span aria-hidden="true">×</span>
            </button>
            ایمیل حاوی کد تایید ارسال شده است لطفا کد را در لیست در حال انتظار وارد کنید
          </div>
          <h5 class="mb-0">تبدیل به ریال</h5>

        </div>

        <div class="card-body widget-body">

          <form class="form" [formGroup]="burnForm">
            <div class="form-group">
              <label for="email-b-f">مقدار</label>
              <input formControlName="amount" class="form-control" type="number">
              <small class="text-danger" *ngIf="burnForm.get('amount').hasError('required')">مبلغ را وارد کنید</small>
            </div>
            <div class="form-group">
              <label for="password-b-f">توضیحات</label>
              <textarea formControlName="comment" class="form-control" placeholder="Message" rows="3"></textarea>
            </div>

            <div class="form-group">
              <button (click)="burn()" class="btn btn-success btn-block" type="submit">ارسال</button>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>

</div>
<div widget class="card border-0 box-shadow" style=" font-size: 18px;   margin-top: 3%;">
  <div class="txtHeader">
    <p>لیست تمام درخواست های فروش</p>
  </div>

  <div class="row">

    <div class="col-md-12" style="text-align: left;    padding: 2%">
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" dir='rtl'>
          <ng-container matColumnDef="BurnRequestNumber">
            <th mat-header-cell *matHeaderCellDef> شماره درخواست </th>
            <td mat-cell *matCellDef="let element">

              {{element.BurnRequestNumber}}

            </td>
          </ng-container>
          <!-- Symbol Column -->
          <ng-container matColumnDef="symbol">
            <th mat-header-cell *matHeaderCellDef> وضعیت </th>
            <td mat-cell *matCellDef="let element">
              <span class="badge  mr-1" [ngClass]="{'badge-danger': element.status=='Rejected'||element.status=='Canceled', 'badge-info': element.status=='Pending', 'badge-success': element.status=='Approved'}">
                {{element.status}}
              </span>
            </td>
          </ng-container>
          <!-- Weight Column -->
          <ng-container matColumnDef="weight">
            <th mat-header-cell *matHeaderCellDef> مقدار </th>
            <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
          </ng-container>
          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> تاریخ ثبت </th>
            <td mat-cell *matCellDef="let element"> {{element.userSubmitDate}} </td>
          </ng-container>
          <!-- Position Column -->
          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef> تایید ایمیل </th>
            <td mat-cell *matCellDef="let element">
              <label *ngIf='!element.verified' class="Notconfirmedmail">ایمیل تایید نشده</label>
              <label *ngIf='element.verified' class="confirmedmail">ایمیل تایید شده</label>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </div>
      <!-- <table class="table table-striped">
              <thead>
                <tr>
                    <th>تایید ایمیل</th>
                  <th> تاریخ ثبت </th>
                  <th>مقدار</th>
                  <th>ایمیل کاربر</th>
                  <th>وضعیت</th>
                  <th>شماره درخواست</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor='let i of allBurnRequests'>
                    <td *ngIf='!i.verified'>
                        <label class="Notconfirmedmail">ایمیل تایید نشده</label>
                    </td>
                    <td *ngIf='i.verified'>
                        <label class="confirmedmail">ایمیل تایید شده</label>
                    </td>
                  <td>{{i.userSubmitDate}}</td>
                  <td>{{i.amount}}</td>
                  <td>{{i.userEmail}}</td>
    
                  <td>
      
                    <span class="badge  mr-1" [ngClass]="{'badge-danger': i.status=='Rejected'||i.status=='Canceled', 'badge-info': i.status=='Pending', 'badge-success': i.status=='Approved'}">
                      {{i.status}}</span>
      
                  </td>
                  <td>{{i.BurnRequestNumber}}</td>
                </tr>
              </tbody>
            </table> -->

    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="pendingModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">کد تایید را وارد کنید</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div *ngIf='noBurnSuccess' style="text-align: left" class="alert alert-danger alert-dismissible fade show" role="alert">
        <button aria-label="Close" class="close" data-dismiss="alert" type="button">
          <span aria-hidden="true">×</span>
        </button>
        {{Msg}}
      </div>
      <div *ngIf='BurnSuccess' style="text-align: left" class="alert alert-success alert-dismissible fade show" role="alert">
        <button aria-label="Close" class="close" data-dismiss="alert" type="button">
          <span aria-hidden="true">×</span>
        </button>
        {{Msg}}
      </div>
      <div class="modal-body">
        <flash-messages></flash-messages>
        <form *ngIf='!confirmed' [formGroup]="confirmForm" class="form-horizontal">



          <div class="form-group">
            <label for="email-b-f">کد</label>
            <input formControlName="code" class="form-control" type="text">
            <small class="text-danger" *ngIf="confirmForm.get('code').hasError('required')">کد را وارد کنید</small>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">انصراف</button>
            <button type="submit" (click)="verifyBurn()" [disabled]="confirmForm.get('code').hasError('required')" class="btn btn-success">ارسال</button>
          </div>
        </form>
        <div *ngIf='confirmed'>
          <div class="success">
            <p>درخواست با موفقیت ثبت شد</p>
          </div>

          <button type="button" class="btn btn-secondary" data-dismiss="modal">بستن</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="resendModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{Msg}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>



<div class="modal fade" id="rejectModal" tabindex="-1" role="dialog" aria-labelledby="modal-danger-label">
  <div *ngIf="!err && !success" class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header state modal-danger">
        <h4 class="modal-title" id="modal-danger-label">
          شماره رسید: {{BurnRequestNumber}} </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <flash-messages></flash-messages>
        <form (ngSubmit)="onSubmit(form.value)" [formGroup]="rejectForm" class="form-horizontal">



          <div class="form-group row text-sm-right">

            <div class="col-sm-9">
              <textarea formControlName="comment" type="text" class="form-control" id="email-h-t"></textarea>
              <small class="text-danger" *ngIf="rejectForm.get('comment').hasError('required')">ذکر توضیحات الزامی است</small>
            </div>
            <label for="email-h-f" class="col-sm-3 form-control-label mt-1">توضیحات</label>

          </div>
          <div class="modal-footer">
            <button type="button" (click)='reject()' class="btn btn-danger">تایید</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">بستن</button>
          </div>
        </form>
      </div>

    </div>
  </div>

  <div *ngIf="err" class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header state modal-danger">
        <h4 class="modal-title" id="modal-danger-label">
          <i class="fa fa-exclamation"></i>Error</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">x</span>
        </button>
      </div>
      <div class="modal-body">
        {{Msg}}
      </div>
      <div class="modal-footer">
        <button type="button" (click)='reload()' class="btn btn-default" data-dismiss="modal">تلاش مجدد</button>
      </div>
    </div>
  </div>

  <div *ngIf="success" class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header state modal-success">
        <h4 class="modal-title" id="modal-success-label">
          <i class="fa fa-exclamation"></i>تمام</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">x</span>
        </button>
      </div>
      <div class="modal-body">
        {{Msg}}
      </div>
      <div class="modal-footer">
        <button type="button" (click)='reload()' class="btn btn-default" data-dismiss="modal">بستن</button>
      </div>
    </div>
  </div>
</div>