<div widget class="card border-0 box-shadow">
    <div class="card-header transparent border-0 text-muted">
        <h5 class="mb-0">تیکت های کاربران</h5>
         
    </div>
  
    <div class="card-body pt-0 widget-body">
     
            <table class="table table-striped">
                    <thead>
                        <tr>
                              <th>مکالمات</th>
                              <th>نوع توکن</th>
                              <th>وضعیت</th>
                              <th>موضوع</th>
                              <th>تاریخ آخرین پیام</th>
                            <th>شماره تیکت</th>
          
          
          
          
          
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let ticket of ticketsArr">
                              <td>
                                      <button   (click)="ShowTicket(ticket.ticketNumber)" class="btn btn-info btn-rounded w-100p mb-1 mr-1" type="button">مشاهده</button>
                                    </td>
                                    <td>{{ticket.tokenType}}</td>
                                    <td><span data-toggle="modal" data-target="#stateModal" (click)="changeState(ticket)" [ngClass]="{'badge-danger': ticket.status=='Closed'||ticket.status=='Canceled', 'badge-info': ticket.status=='Resolved'}" style="cursor: pointer;" class="badge badge-success mr-1">{{ticket.status}}</span></td>
                                    <td>{{ticket.subject}}</td>
                                    <td>{{ticket.lastReplayDate}}</td>
                            <th scope="row">{{ticket.ticketNumber}}</th>
          
          
          
          
          
                        </tr>
                    </tbody>
                </table>
        </div>
  </div>