<div widget class="card border-0 box-shadow box">
  <div class="row">
    <div class="col-md-8"></div>
    <div class="col-md-4">
      <button data-toggle="modal" data-target="#submitBuyModal" class="btn btn-success btn-lg btn-block" type="button">ثبت درخواست خرید</button>
    </div>
  </div>
  <div class="row">

    <div class="col-md-12" style="margin-top: 2%;">
        <div  class="card card-outline-primary">
            <div class="card-body balanceArea text-center">
              <p class="text-primary">: موجودی</p>
              <p class="card-text"><code>{{balance}}</code></p>
            </div>
          </div>
    </div>
    <!-- <div class="col-md-6"></div> -->
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="pendingTable">
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" dir='ltr'>
          <ng-container matColumnDef="attach">
            <th mat-header-cell *matHeaderCellDef> ارسال مدارک </th>
            <td mat-cell *matCellDef="let element">
              <button (click)='getRecipt(element.receiptNumber)' data-toggle="modal" data-target="#attachModal" class="btn btn-primary w-100p mb-1 mr-1" type="button">پیوست</button>

            </td>
          </ng-container>
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> وضعیت </th>
            <td mat-cell *matCellDef="let element">
                <span [ngClass]="{'badge-danger': element.status=='Closed'||element.status=='Canceled', 'badge-info': element.status=='Pending'}"
                style="cursor: pointer;" class="badge badge-success mr-1">{{element.status}}</span>  

            </td>
          </ng-container>

          <ng-container matColumnDef="code">
            <th mat-header-cell *matHeaderCellDef> کد سفارش </th>
            <td mat-cell *matCellDef="let element">
              {{element.receiptNumber}}

            </td>
          </ng-container>

          <ng-container matColumnDef="expire">
            <th mat-header-cell *matHeaderCellDef> مهلت پرداخت </th>
            <td mat-cell *matCellDef="let element">

              {{element.codeExpiration}}
            </td>
          </ng-container>

          <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef> مبلغ </th>
            <td mat-cell *matCellDef="let element">
              {{element.amount}}
            </td>
          </ng-container>

          <ng-container matColumnDef="exchanger">
            <th mat-header-cell *matHeaderCellDef> صراف </th>
            <td mat-cell *matCellDef="let element"> {{element.exchangerEmail}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </div>
    </div>
    </div>
  </div>
</div>
<div class="modal fade bd-example-modal-lg" id="submitBuyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">ثبت خرید جدید</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div widget class="card border-0 box-shadow">
          <div class="card-header transparent border-0 text-muted">

          </div>
          <div class="card-body widget-body">
            <div *ngIf='success' widget class="card ">
              <div class="card card-outline-success text-center">
                <div class="card-body">
                  <blockquote class="card-bodyquote">

                    <footer style="    font-size: 21px;"> {{msg}} </footer>
                    <div class='col-md-12'>
                      <!-- <button type="button" (click)='goBack()' style="width: 21%;margin: 2%;    font-size: 19px;" class="btn btn-success " data-toggle="modal"
                                            data-target="#exampleModal">
                                            بازگشت
                                        </button> -->
                    </div>
                  </blockquote>
                </div>
              </div>
            </div>

            <form *ngIf='!success' class="form-horizontal" [formGroup]="ReceiptForm">
              <div *ngIf='err' class="alert alert-danger alert-dismissible fade show" role="alert">
                <button aria-label="Close" class="close" data-dismiss="alert" type="button">
                  <span aria-hidden="true">×</span>
                </button>
                {{msg}}
              </div>
              <div class="row">
                  <div class="col-md-6">

                      <div class="form-group pull-right row text-sm-right">
                          <div *ngIf="preExchanger" class="preExchanger">
                              <label>{{preExchanger.lastName}}</label>
                              <label style="padding-left: 12px" for="amount" class=" form-control-label mt-1">{{preExchanger.firstName}}</label>

 
      
                          </div>
                        <div>
                          <select (change)="onChange($event.target.value)" formControlName="exchanger" class="form-control custom-select" id="exampleSelect3">
                            <!-- <option selected>انتخاب صراف</option> -->
                            <option [value]="i.email" *ngFor='let i of exchangers'>{{i.email}}</option>
                          </select>
                        </div>
                        <label style="padding-left: 12px" for="exampleSelect3">صراف</label>
    
                      </div>
                    </div>
                <div class="col-md-6">
                  <div class="form-group pull-right row text-sm-right">

                    <div class="">
                      <input formControlName="amount" type="number" class="form-control" id="amount">
                    </div>
                    <label style="padding-left: 12px" for="amount" class=" form-control-label mt-1">مبلغ خرید</label>
                  </div>
                </div>

              </div>
              <div class="row">
                <div class="col-md-6">

                       
                </div>
                <div class="col-md-6">
                    <div class="form-group pull-right row text-sm-right">

                        <div class="">
                          <label>####</label>
                        </div>
                        <label style="padding-left: 12px" for="amount" class=" form-control-label mt-1">توکن معادل</label>
                      </div>
                </div>

              </div>
              <div *ngIf='preExchanger != null' id="accordion-1" role="tablist" aria-multiselectable="true">
                  <div  class="card">
                      <div class="card-header" role="tab" id="headingThree">
                        <h5 class="mb-0">
                          <a (click)='getExchanger()' class="collapsed" style="color: #3E50B4" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                              مشخصات صراف
                          </a>
                        </h5>
                      </div>
                      <div id="collapseThree" class="collapse" data-parent="#accordion-1" role="tabpanel" aria-labelledby="headingThree">
                        <div class="card-body">
                          <div style="text-align: center" class="exchangerDetail">
                            <img class="exchangerImg" src="http://localhost:3000/{{preExchanger.imageAddress}}" alt="" srcset="">
                          </div>
                            <div  class="">
                                <div class="row ">
                                    <div class="col-md-6">
                                        <div class="form-group pull-right row text-sm-right">
                    
                                            <div class="">
                                              <label class="exchangerLabel">{{preExchanger.firstName}}</label>
                                            </div>
                                            <label style="padding-left: 12px" for="amount" class=" form-control-label mt-1">نام صراف</label>
                                          </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group pull-right row text-sm-right">
                    
                                            <div class="">
                                              <label class="exchangerLabel">{{preExchanger.email}}</label>
                                            </div>
                                            <label style="    padding: 0 12px;" for="amount" class=" form-control-label mt-1">ایمیل صراف</label>
                                          </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6"></div>
                                    <div class="col-md-6">
                                        <div class="form-group pull-right row text-sm-right">
                    
                                            <div class="">
                                              <label class="exchangerLabel">{{preExchanger.telephone}}</label>
                                            </div>
                                            <label style="padding: 0 12px;" for="amount" class=" form-control-label mt-1">تلفن</label>
                                          </div>
                                    </div>
                                    <!-- <div class="col-md-12">
                                        <div class="form-group pull-right row text-sm-right">
                    

                                              <label class="addressLabel">{{preExchanger.address}}</label>

                                            <label style="padding-right: 12px" for="amount" class=" form-control-label mt-1"> آدرس</label>
                                          </div>
                                    </div> -->
                                </div>
                                <div style="text-align: center">
                                    <button data-dismiss="modal" (click)="ViewuserDetail(preExchanger.email)" class="btn btn-outline-info w-100p mb-1 mr-1" type="button">مشخصات</button>
                                </div>
                            </div>
                        </div>
                      </div>
                    </div>       
                    </div>


            </form>

          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">بستن</button>
        <button type="button" *ngIf='!success' (click)='submit()' class="btn btn-success">ثبت</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade bd-example-modal-lg" id="attachModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">ثبت خرید جدید</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div widget class="card border-0 box-shadow">
          <div class="card-header transparent border-0 text-muted">

          </div>
          <div class="card-body widget-body">
            <div *ngIf='success' widget class="card ">
              <div class="card card-outline-success text-center">
                <div class="card-body">
                  <blockquote class="card-bodyquote">

                    <footer style="    font-size: 21px;"> {{msg}} </footer>
                    <div class='col-md-12'>
                      <!-- <button type="button" (click)='goBack()' style="width: 21%;margin: 2%;    font-size: 19px;" class="btn btn-success " data-toggle="modal"
                                            data-target="#exampleModal">
                                            بازگشت
                                        </button> -->
                    </div>
                  </blockquote>
                </div>
              </div>
            </div>

            <form *ngIf='!success' class="form-horizontal" [formGroup]="completeReciptForm">
              <div *ngIf='err' class="alert alert-danger alert-dismissible fade show" role="alert">
                <button aria-label="Close" class="close" data-dismiss="alert" type="button">
                  <span aria-hidden="true">×</span>
                </button>
                {{msg}}
              </div>
              <div class="row">
                <div class="col-md-6">
                    <div class="form-group pull-right row text-sm-right">

                        <div class="">
                          <label>{{reciptCode}}</label>
                        </div>
                        <label style="padding-left: 12px" for="amount" class=" form-control-label mt-1">کد سفارش</label>
                      </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group pull-right row text-sm-right">

                    <div class="">
                      <label>{{exchangerEmail}}</label>
                    </div>
                    <label style="padding-left: 12px" for="amount" class=" form-control-label mt-1">صراف</label>
                  </div>
                </div>

              </div>
              <div class="row">
                <div class="col-md-6">
                    <div class="form-group pull-right row text-sm-right">

                        <div class="">
                          <label>{{expiredDate}}</label>
                        </div>
                        <label style="padding-left: 12px" for="amount" class=" form-control-label mt-1">تاریخ</label>
                      </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group pull-right row text-sm-right">

                        <div class="">
                          <label>{{amount}}</label>
                        </div>
                        <label style="padding-left: 12px" for="amount" class=" form-control-label mt-1">مبلغ</label>
                      </div>
                </div>
              </div>
              <div class="row">

                <div class="col-md-12 attch">
                    <div class=" mb-4 pull-right img-container">
                        <h6>پیوست سند پرداخت</h6>
                        <!-- <input type="file"  (change)="image($event)" formControlName="image" > -->
                        <input style="    left: 12px;" type="file" accept="image/*" formControlName="img" id="imginput" (change)="PersonImage($event)"
                            class="img-upload-btn" />

                        <button class="btn btn-info btn-block rounded-0" type="button">
                            <span *ngIf="!photo">
                                <i class="fa fa-upload"></i> Select Image... </span>
                            <span *ngIf="photo">
                                <i class="fa fa-refresh"></i> Change Image... </span>
                        </button>

                        <div class="image-wrapper">
                            <i *ngIf="photo" class="fa fa-times delete-img" (click)="removeImage()"></i>
                            <img style="    max-width: 300px;" [attr.src]="photo" *ngIf="photo" width="100%">
                            <!-- <img src="assets/img/app/no-image.png" *ngIf="!photo" width="100%"> -->
                        </div>


                        <!-- <div class="err" *ngIf="addExchangerForm.get('img').hasError('required')">ارسال عکس الزامی است</div> -->
                    </div>
                </div>
              </div>
            </form>

          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">بستن</button>
        <button type="button" *ngIf='!success' (click)='send()' class="btn btn-success">ثبت</button>
      </div>
    </div>
  </div>
</div>