<!-- <form [formGroup]="firstFormGroup"> -->
    <mat-form-field dir="rtl">
        <label for="" dir="rtl"> Name:
            <span> Babi Namzain </span>
        </label>
    </mat-form-field>
    <mat-form-field>
        <label for="" dir="rtl"> Name:
            <span> Babi Namzain </span>
        </label>
    </mat-form-field>
    <mat-form-field>
        <label for="" dir="rtl"> Name:
            <span> Babi Namzain </span>
        </label>
    </mat-form-field>
    <div>
        <button mat-button matStepperNext>Next</button>
    </div>
<!-- </form> -->