.detailsMd{
    text-align: center;
}
.title{
    color: blue;
}
.addressField{
    padding: 12px;
    border-top: 1px solid #747473;
}
.ImgField{
    background: #8080802e;
}
.ImgField img{
    // border-radius: 50%
}