<div widget class="card border-0 box-shadow">
    <div class="card-body pt-0 widget-body">
     <div class="card-state">
        <button class="btn btn-danger w-100p mb-1 mr-1" type="button">Cancell</button>
        <button class="btn btn-success w-100p mb-1 mr-1" type="button">Resolved</button>
        <button class="btn btn-warning w-100p mb-1 mr-1" type="button">Delay Answer</button>
     </div>
     <div class="card">
       <div class="card-header"> Ticket Number : 123214324 </div>
       <div class="card-body">
         <div>
            <p class="title">Subject: </p> <p>Some Subject</p>
         </div>
         <div>
            <p class="title">Priority: </p> <p>1</p>
         </div>
         <div>
            <p class="title">Token: </p> <p>Tokken #1</p>
         </div>
         <div>

            <p class="title">Description: </p> <p>blah blah blah blah blah</p>
         </div>

        </div>
        <div class="card-footer"> Date: 9/4/2018 </div>
      </div>
          
    </div>
</div>