<div widget class="card border-0 box-shadow box">
  <div class="row">
    <div class="col-md-12">

      <div *ngIf="noPending" style="    margin-bottom: 20px;" class="card card-outline-primary">
        <div class="card-body text-center">
          <p class="text-primary">فعلا خرید در انتظار پرداخت وجود ندارد</p>
          <!-- <p class="card-text"><code>123123</code></p> -->
        </div>
      </div>

      <div class="see" *ngIf='seeMore'>
        <div widget class="card border-0 box-shadow box">
          <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-6">
              <button (click)='backtoList()' class="btn btn-primary btn-lg btn-block" type="button">بازگشت به لیست</button>
            </div>
          </div>

          <div class="sectionTitle2">
            <p>تراکنش شماره : {{reciptNum}}</p>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group pull-right row text-sm-right">

                <div class="">
                  <label>{{amount}}</label>
                </div>
                <label style="padding-left: 12px" for="amount" class=" form-control-label mt-1">: مبلغ</label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group pull-right row text-sm-right">

                <div class="">
                  <label>{{exchangerEmail}}</label>
                </div>
                <label style="padding-left: 12px" for="amount" class=" form-control-label mt-1">: صراف</label>
              </div>
            </div>

          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group pull-right row text-sm-right">

                <div class="">
                  <label>{{userEmail}}</label>
                </div>
                <label style="padding-left: 12px" for="amount" class=" form-control-label mt-1">: کاربر</label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group pull-right row text-sm-right">

                <div class="">
                  <label>{{exchangerSubmitDate}}</label>
                </div>
                <label style="padding-left: 12px" for="amount" class=" form-control-label mt-1">: تاریخ ثبت صراف</label>
              </div>
            </div>

          </div>
          <div class="row">
            <div class="col-md-6">
                <p>سند دریافت صراف</p>
                <img *ngIf='exchangerDoc' style="    max-width: 500px;" src="http://localhost:3000/{{exchangerDoc}}" alt="" srcset="">
                <img src="assets/img/app/no-image.png" *ngIf="!exchangerDoc" width="100%">
            </div>
            <div class="col-md-6">
                <p>سند پرداخت مشتری</p>
                <img style="    max-width: 500px;" src="http://localhost:3000/{{userDoc}}" alt="" srcset="">
                <img src="assets/img/app/no-image.png" *ngIf="!userDoc" width="100%">
            </div>
          </div>
          <div class="row">
              <div class="col-md-6"></div>
            <div class="col-md-6">
                <!-- <form (ngSubmit)="onSubmit(form.value)" [formGroup]="form" class="form-horizontal">
                    <label for="email-h-f" class=" form-control-label mt-1">توضیحات</label>
                      <div class="">
                        <textarea formControlName="comment" type="text" class="form-control" id="email-h-t"></textarea>
                        <small class="text-danger" *ngIf="form.get('comment').hasError('required')">ذکر توضیحات الزامی است</small>
                      </div>
                  </form> -->
            </div>
          </div>
          <div class="row details-footer">
              <div class="col-md-4"></div>
              <div class="col-md-2">
                  <button data-toggle="modal" data-target="#approveModal" class="btn btn-success btn-lg btn-block" type="button">
                      <i class="fa fa-check"></i>
                    </button>
              </div>
              <div class="col-md-2">
                  <button data-toggle="modal" data-target="#rejectModal"  class="btn btn-danger btn-lg btn-block" type="button">
                      <i class="fa fa-times"></i>
                    </button>
              </div>


            <div class="col-md-4"></div>
          </div>

        </div>
      </div>
      <div *ngIf='!seeMore' class="mat-elevation-z8">
        <div class="sectionTitle">
          <p>لیست خرید های در انتظار تایید</p>
        </div>
        <table mat-table [dataSource]="PendingDataSource" dir='rtl'>



          <ng-container matColumnDef="user">
            <th mat-header-cell *matHeaderCellDef> کاربر </th>
            <td mat-cell *matCellDef="let element">
              {{element.userEmail}}

            </td>
          </ng-container>

          <ng-container matColumnDef="exchanger">
            <th mat-header-cell *matHeaderCellDef> صراف </th>
            <td mat-cell *matCellDef="let element"> {{element.exchangerEmail}} </td>
          </ng-container>

          <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef> مبلغ </th>
            <td mat-cell *matCellDef="let element">
              {{element.amount}}
            </td>
          </ng-container>


          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> وضعیت </th>
            <td mat-cell *matCellDef="let element">
              <span [ngClass]="{'badge-danger': element.status=='Closed'||element.status=='Canceled', 'badge-info': element.status=='Pending'}"
                style="cursor: pointer;" class="badge badge-success mr-1">{{element.status}}</span>

            </td>
          </ng-container>





          <ng-container matColumnDef="details">
            <th mat-header-cell *matHeaderCellDef> مشاهده </th>
            <td mat-cell *matCellDef="let element">
              <button (click)='getNum(element.receiptNumber)' data-toggle="modal" data-target="#attachModal" class="btn btn-primary w-100p mb-1 mr-1"
                type="button">جزئیات</button>

            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </div>
    </div>
  </div>

</div>

<div widget class="card border-0 box-shadow box">
  <div class="row">
    <div class="col-md-12">
      <div class="sectionTitle">
        <p>لیست خرید های تایید شده</p>
      </div>
      <div *ngIf="noApproved" style="    margin-bottom: 20px;" class="card card-outline-primary">
        <div class="card-body text-center">
          <p class="text-primary">فعلا خرید تایید شده ای وجود ندارد</p>
          <!-- <p class="card-text"><code>123123</code></p> -->
        </div>
      </div>
      <table *ngIf="!noApproved" class="table table-striped">
        <thead>
          <tr>
            <th> تاریخ ثبت صراف</th>
            <th>مقدار</th>
            <!-- <th>رسید کاربر</th> -->
            <th>ایمیل کاربر</th>
            <!-- <th>رسید صراف</th> -->
            <th>ایمیل صراف </th>
            <th>وضعیت</th>
            <th>شماره رسید</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let i of approvedReceipts'>
            <td>{{i.exchangerSubmitDate}}</td>
            <td>{{i.amount}}</td>
            <!-- <td><button data-toggle="modal" data-target="#userImg" class="btn btn-outline-info w-100p mb-1 mr-1" type="button">رسید کاربر</button></td> -->
            <td>{{i.userEmail}}</td>
            <!-- <td><button data-toggle="modal" data-target="#exchangerImg" class="btn btn-outline-primary  w-100p mb-1 mr-1" type="button">رسید صراف</button></td> -->
            <td>{{i.exchangerEmail}}</td>
            <td>

              <span class="badge badge-success mr-1">{{i.status}}</span>

            </td>
            <td>{{i.receiptNumber}}</td>
            <!-- <div class="modal fade" id="exchangerImg" tabindex="-1" role="dialog" style="display: none;">
                  <div class="modal-dialog" role="document">
                      <div class="modal-content">
                          <div class="modal-body">
                                  <img style="max-width:450px;" src="http://localhost:3000/{{i.exchangerReceipt}}" width="100%">                         
                          </div>
                          <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="modal fade" id="userImg" tabindex="-1" role="dialog" style="display: none;">
                  <div class="modal-dialog" role="document">
                      <div class="modal-content">
                          <div class="modal-body">
                                  <img style="max-width:450px;" src="http://localhost:3000/{{i.userReceipt}}" width="100%">                         
                          </div>
                          <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          </div>
                      </div>
                  </div>
              </div> -->
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>


<div widget class="card border-0 box-shadow box">
  <div class="row">
    <div class="col-md-12">
      <div class="sectionTitle">
        <p>لیست خرید های رد شده</p>
      </div>
      <div *ngIf="noRejected" style="    margin-bottom: 20px;" class="card card-outline-primary">
        <div class="card-body text-center">
          <p class="text-primary">فعلا خرید رد شده ای وجود ندارد</p>
          <!-- <p class="card-text"><code>123123</code></p> -->
        </div>
      </div>
      <table *ngIf="!noRejected" class="table table-striped">
        <thead>
          <tr>
            <th> تاریخ ثبت صراف</th>
            <th>مقدار</th>
            <!-- <th>رسید کاربر</th> -->
            <th>ایمیل کاربر</th>
            <!-- <th>رسید صراف</th> -->
            <th>ایمیل صراف </th>
            <th>وضعیت</th>
            <th>شماره رسید</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let i of rejectedReceipts'>
            <td>{{i.exchangerSubmitDate}}</td>
            <td>{{i.amount}}</td>
            <!-- <td><button data-toggle="modal" data-target="#userImg" class="btn btn-outline-info w-100p mb-1 mr-1" type="button">رسید کاربر</button></td> -->
            <td>{{i.userEmail}}</td>
            <!-- <td><button data-toggle="modal" data-target="#exchangerImg" class="btn btn-outline-primary  w-100p mb-1 mr-1" type="button">رسید صراف</button></td> -->
            <td>{{i.exchangerEmail}}</td>
            <td>

              <span class="badge badge-danger mr-1">{{i.status}}</span>

            </td>
            <td>{{i.receiptNumber}}</td>
            <!-- <div class="modal fade" id="exchangerImg" tabindex="-1" role="dialog" style="display: none;">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-body">
                                    <img style="max-width:450px;" src="http://localhost:3000/{{i.exchangerReceipt}}" width="100%">                         
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="userImg" tabindex="-1" role="dialog" style="display: none;">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-body">
                                    <img style="max-width:450px;" src="http://localhost:3000/{{i.userReceipt}}" width="100%">                         
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div> -->
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>

<!-- Modal -->


<div class="modal fade" id="approveModal" tabindex="-1" role="dialog" aria-labelledby="modal-warning-label">
    <div *ngIf="!err && !success && haveUserReceipt && haveExchangerReceipt" class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header state modal-warning">
          <h4 class="modal-title" id="modal-warning-label">
            شماره رسید: {{reciptNum}} </h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <flash-messages></flash-messages>
          <form (ngSubmit)="onSubmit(form.value)" [formGroup]="approveForm" class="form-horizontal">
  
  
  
            <div class="form-group row text-sm-right">
  
              <div class="col-sm-9">
                <textarea formControlName="comment" type="text" class="form-control" id="email-h-t"></textarea>
  
              </div>
              <label for="email-h-f" class="col-sm-3 form-control-label mt-1">توضیحات</label>
            </div>
            <div class="modal-footer">
              <button type="button" (click)='approve()' class="btn btn-success">تایید</button>
              <button type="button" class="btn btn-default" data-dismiss="modal">بستن</button>
            </div>
          </form>
        </div>
  
      </div>
    </div>

    <div *ngIf="!haveUserReceipt" class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header state modal-danger">
          <h4 class="modal-title" id="modal-danger-label">
            <i class="fa fa-exclamation"></i>Error</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">x</span>
          </button>
        </div>
        <div class="modal-body">
          هنوز رسید مشتری ثبت نشده است
        </div>
        <div class="modal-footer">
          <button type="button"  class="btn btn-default" data-dismiss="modal">بستن</button>
        </div>
      </div>
    </div>
    <div *ngIf="!haveExchangerReceipt" class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header state modal-danger">
          <h4 class="modal-title" id="modal-danger-label">
            <i class="fa fa-exclamation"></i>Error</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">x</span>
          </button>
        </div>
        <div class="modal-body">
          هنوز رسید صراف ثبت نشده است
        </div>
        <div class="modal-footer">
          <button type="button"  class="btn btn-default" data-dismiss="modal">بستن</button>
        </div>
      </div>
    </div>
  
    <div *ngIf="err" class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header state modal-danger">
          <h4 class="modal-title" id="modal-danger-label">
            <i class="fa fa-exclamation"></i>Error</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">x</span>
          </button>
        </div>
        <div class="modal-body">
          {{Msg}}
        </div>
        <div class="modal-footer">
          <button type="button" (click)='reload()' class="btn btn-default" data-dismiss="modal">تلاش مجدد</button>
        </div>
      </div>
    </div>
  
    <div *ngIf="success" class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header state modal-success">
          <h4 class="modal-title" id="modal-success-label">
            <i class="fa fa-exclamation"></i>تمام</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">x</span>
          </button>
        </div>
        <div class="modal-body">
          {{Msg}}
        </div>
        <div class="modal-footer">
          <button type="button" (click)='reload()' class="btn btn-default" data-dismiss="modal">بستن</button>
        </div>
      </div>
    </div>
  </div>
  


<!-- Modal -->



<div class="modal fade" id="rejectModal" tabindex="-1" role="dialog" aria-labelledby="modal-danger-label">
  <div *ngIf="!err && !success && haveExchangerReceipt && haveUserReceipt" class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header state modal-danger">
        <h4 class="modal-title" id="modal-danger-label">
          شماره رسید: {{reciptNum}} </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <flash-messages></flash-messages>
        <form (ngSubmit)="onSubmit(form.value)" [formGroup]="rejectForm" class="form-horizontal">



          <div class="form-group row text-sm-right">

            <div class="col-sm-9">
              <textarea formControlName="comment" type="text" class="form-control" id="email-h-t"></textarea>
              <small class="text-danger" *ngIf="rejectForm.get('comment').hasError('required')">ذکر توضیحات الزامی است</small>
            </div>
            <label for="email-h-f" class="col-sm-3 form-control-label mt-1">توضیحات</label>

          </div>
          <div class="modal-footer">
            <button type="button" (click)='reject()' class="btn btn-danger">تایید</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">بستن</button>
          </div>
        </form>
      </div>

    </div>
  </div>
  <div *ngIf="!haveUserReceipt" class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header state modal-danger">
        <h4 class="modal-title" id="modal-danger-label">
          <i class="fa fa-exclamation"></i>Error</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">x</span>
        </button>
      </div>
      <div class="modal-body">
        هنوز رسید مشتری ثبت نشده است
      </div>
      <div class="modal-footer">
        <button type="button"  class="btn btn-default" data-dismiss="modal">بستن</button>
      </div>
    </div>
  </div>
  <div *ngIf="!haveExchangerReceipt" class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header state modal-danger">
        <h4 class="modal-title" id="modal-danger-label">
          <i class="fa fa-exclamation"></i>Error</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">x</span>
        </button>
      </div>
      <div class="modal-body">
        هنوز رسید صراف ثبت نشده است
      </div>
      <div class="modal-footer">
        <button type="button"  class="btn btn-default" data-dismiss="modal">بستن</button>
      </div>
    </div>
  </div>
  <div *ngIf="err" class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header state modal-danger">
        <h4 class="modal-title" id="modal-danger-label">
          <i class="fa fa-exclamation"></i>Error</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">x</span>
        </button>
      </div>
      <div class="modal-body">
        {{Msg}}
      </div>
      <div class="modal-footer">
        <button type="button" (click)='reload()' class="btn btn-default" data-dismiss="modal">تلاش مجدد</button>
      </div>
    </div>
  </div>

  <div *ngIf="success" class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header state modal-success">
        <h4 class="modal-title" id="modal-success-label">
          <i class="fa fa-exclamation"></i>تمام</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">x</span>
        </button>
      </div>
      <div class="modal-body">
        {{Msg}}
      </div>
      <div class="modal-footer">
        <button type="button" (click)='reload()' class="btn btn-default" data-dismiss="modal">بستن</button>
      </div>
    </div>
  </div>
</div>