.modal-body{
    font-size: 20px
}
.box{
    font-size: 18px;   
    padding: 6%;
    margin-top: 20px;
}
table {
    width: 100%;
  }

  .mat-header-cell {
    font-size: 20px;

}
th.mat-header-cell {
    text-align: right!important;
    padding: 12px!important;
}
td.mat-cell {

    padding: 12px!important;
}
.sectionTitle{
    padding: 12px;
}
.sectionTitle2{
    padding: 13px;
    background: #cecece94;
    margin: 12px 0 12px 0;
}
.see .box{
    padding: 2%;
}
.details-footer{
    margin-top: 21px;
    border-top: 1px solid #f1f1f1;
    padding: 21px;
}