<div widget class="card border-0 box-shadow">
    <!-- Button trigger modal -->
    <div class="pull-right">
            <button type="button" style="width: 21%;margin: 2%;    font-size: 19px;" class="btn btn-success pull-right" data-toggle="modal" data-target="#exampleModal">
                    ایجاد تیکت
                  </button>
    </div>

      
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title"  id="exampleModalLabel">تیکت جدید</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                    <div class="card-body widget-body">

                            <form *ngIf="!successTicket" (ngSubmit)="onSubmit(form.value)" class="form-horizontal">
                                <div class="form-group row text-sm-right">
                                        <div class="col-sm-9">
                                                <input [formControl]="subject" type="text" class="form-control" id="email-h-t">
                                                <small class="text-danger" *ngIf="form.get('subject').touched">
                                                    <span *ngIf="form.get('subject').hasError('required')">Subject is required</span>
                                                </small> 
                                            </div>
                                    <label for="email-h-f" class="col-sm-3 form-control-label mt-1">موضوع</label>

                                </div>
                                <div class="form-group">
                                        <select [formControl]="tokenType" style="  margin-right: 9%;  display: inline-block;max-width: 74%;" class="form-control col-sm-9" id="exampleSelect2">
                                                <option>نرمال</option>
                                                <option>ریسکی</option>
                                            </select>
                                        <label class="col-sm-2"  for="exampleSelect2">نوع </label>

                                    </div>
                                <!-- <div class="form-group">
                                        <label class="col-sm-3" style=" text-align: center;
                                        padding-left: 46px;" for="exampleSelect1">Priority</label>
                                        <select style="      max-width: 73%;
                                        margin-left: 7px;  display: inline-block;" class="form-control col-sm-9" id="exampleSelect1">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                        </select>
                                    </div> -->
                                    <div class="form-group row text-sm-right">
                                            
                                            <div class="col-sm-9">
                                                <textarea [formControl]="description" type="text" class="form-control" id="email-h-t"></textarea>
                                                <small class="text-danger" *ngIf="form.get('description').touched">
                                                    <span *ngIf="form.get('description').hasError('required')">Descript is required</span>
                                                </small> 
                                            </div>
                                            <label for="email-h-f" class="col-sm-3 form-control-label mt-1">توضیحات</label>
                                        </div>
                                        <div class="custom-control form-group custom-checkbox">
                                                <label class="custom-control-label" for="checkboxDefault">اگر پاسخ دریافت شد از طریق ایمیل خبر بده</label>
                                            <input type="checkbox" [formControl]="recieveEmail" class="custom-control-input" id="checkboxDefault" >

                                        </div>
                                        <div style="border-top: 2px solid #e9ecef;padding: 12px 0;" class="col-lg-12 mb-12">


                                            <input type="file" accept="image/*" [formControl]="image" id="imginput" (change)="image($event)"  class="img-upload-btn"  />
                
                                            <button class="btn btn-info btn-block rounded-0" type="button">
                                                <span *ngIf="!photo">
                                                    <i class="fa fa-upload"></i> Select Image... </span>
                                                <span *ngIf="photo">
                                                    <i class="fa fa-refresh"></i> Change Image... </span>
                                            </button>
                
                                            <div class="image-wrapper">
                                                <i *ngIf="photo" class="fa fa-times delete-img" (click)="removeImage()"></i>
                                                <img [attr.src]="photo" *ngIf="photo" width="100%">
                                            </div>
                
                
                                            <div class="err">{{fileExtensionMessage}}</div>
                                        </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">انصراف</button>
                                                <button type="submit"  class="btn btn-success">ارسال</button>
                                              </div>
                            </form>
                           <div *ngIf="successTicket">
                            <div class="modal-footer">
                                <div class="success">
                                        <p>تیکت با موفقیت ارسال شد</p>         
                                </div>

                                <button type="button" class="btn btn-secondary" data-dismiss="modal">بستن</button>
                              </div>
                           </div>
                        </div>
            </div>

          </div>
        </div>
      </div>
  <div class="card-header transparent border-0 text-muted">
      <h5 class="mb-0">تیکت های شما</h5>
       
  </div>

  <div class="card-body pt-0 widget-body">
     
      <table class="table table-striped">
          <thead>
              <tr>
                    <th>مکالمات</th>
                    <th>نوع توکن</th>
                    <th>وضعیت</th>
                    <th>موضوع</th>
                    <th>تاریخ آخرین پیام</th>
                  <th>شماره تیکت</th>





              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let ticket of ticketsArr">
                    <td>
                            <button   (click)="ShowTicket(ticket.ticketNumber)" class="btn btn-info btn-rounded w-100p mb-1 mr-1" type="button">Reply</button>
                          </td>
                          <td>{{ticket.tokenType}}</td>
                          <td><span data-toggle="modal" data-target="#stateModal" (click)="changeState(ticket)" [ngClass]="{'badge-danger': ticket.status=='Closed'||ticket.status=='Canceled', 'badge-info': ticket.status=='Resolved'}" style="cursor: pointer;" class="badge badge-success mr-1">{{ticket.status}}</span></td>
                          <td>{{ticket.subject}}</td>
                          <td>{{ticket.lastReplayDate}}</td>
                  <th scope="row">{{ticket.ticketNumber}}</th>





              </tr>
          </tbody>
      </table>
  </div>
</div>