p {
    font-family: 'iransans';
    font-size: 16px;
    padding: 5px;
    padding-bottom: 0px;
}

.row-container {
    display: flex;
    direction: row;
    margin-right: 10px;
    margin-left: 10px;
}

.progress-bar {
    background-color: white;
}

.matStepLabel {
    font-family: 'iransans';
}

.stepper-container {

    padding: 20px;

    .user-info {
        margin-top: 10px;

        .item-right {
            width: 100%;
            text-align: right;
        }
        
        .info-container {
            width: 70%;
        }
    
        .image-wrapper {
            margin-right: auto;
    
            img {
                width: 200px;
                height: 200px;
                border-radius: 50%;
                cursor: pointer;
            }
        }
    
        .btn-wrapper {
            margin-top: 15px;
    
            button {
                width: 100px;
                height: 40px;
                float: left;
                margin-left: 20px;
                border-radius: 20px;
                font-family: 'iransans';
                font-size: 16px;
                outline: none;
            }
        }
    }
    
    
    .user-receipt {
        margin-top: 10px;

        .mat-form-field {
            font-size: 14px;
            width: 100%;
        }

        .item-right {
            width: 50%;
            text-align: right;
        }

        .info-container {
            width: 100%;
        }

        .image-wrapper {
            margin-right: auto;
    
            img {
                width: 180px;
                height: 180px;
            }

            button {
                margin-top: 10px;
                float: left;
            }
        }
    
        .btn-wrapper {
            button {
                width: 100px;
                height: 40px;
                float: left;
                margin-left: 20px;
                border-radius: 20px;
                font-family: 'iransans';
                font-size: 16px;
                outline: none;
            }
        }
    }
}